/* Start Variables */

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --paragraph-color: #777;
  --pargraph-height: 1.6;
  --main-duration: 0.3s;
}


/* End Variables */


/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "work sans", sans-serif;

  ::-webkit-scrollbar {
    display: none;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.special-heading {
  font-size: 100px;
  margin: 0;
  text-align: center;
  color: #ebeceb;
  letter-spacing: -3px;
  font-weight: 800;
}

.special-heading+p {
  font-size: 20px;
  text-align: center;
  margin: -30px 0 0;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading+p {
    margin-top: -20px;
  }
}

/* Medium Devices (Tablet) */

/* @media (min-width: 768px) {
  .container {
    width: 740px;
  }
} */


/* Large Devices (Laptop) */

/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */


/* Extra Large Devices */

/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */


/* End Body */

/* Start Landing */
.landing {
  width: 100%;
  /* height: calc(100vh - 60px); */
  height: 100vh;
  background-color: #000;
  background-size: cover;
}

.landing .container {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

.landing .container .images {
  position: relative;
  height: 450px;
  width: 450px;
  /* height: 508px;
  width: 508px; */
  /* margin-top: 145px; */
  z-index: 10;
  margin-left: 50px;
  position: absolute;
  bottom: 20%;
}

.landing .container .images .image-content {
  width: 100%;
  height: 100%;
}

.landing .container .images .image-content img {
  max-width: 100%;
  max-height: 100%;
}

.animate-image {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.landing .container .people {
  position: absolute;
  /* display: flex;
  justify-content: flex-end; */
  width: 100%;
  height: 100%;
  /* left: 680px; */
  left: 635px;
  top: 0;
}

.landing .container .people div {
  position: relative;
}

.landing .container .people .ul-list {
  /* position: relative; */
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 50px;
  width: 56%;
  /* gap: 5px; */
  /* width: 45%; */
  /* overflow-x: scroll; */
  overflow: auto;
}

.landing .container .people .ul-list li.active h2 {
  color: #000;
}

.landing .container .people .ul-list li.active {
  background-color: #fff;
  opacity: 1;
}

.landing .container .people .ul-list li.active::before {
  position: absolute;
  content: "";
  bottom: 15px;
  width: 50px;
  height: 50px;
  background-image: url("../images/downArrow.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing .container .people .ul-list li {
  display: flex;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
  flex-direction: column;
  width: 150px;
  height: 90%;
  opacity: 0.5;
  cursor: pointer;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 40px 40px 0;
  box-sizing: border-box;
  transition: 0.1s all ease-in-out;
}



.landing .container .people .ul-list li h2 {
  font-size: 30px;
  line-height: 1rem;
  margin: 0;
  margin-left: 10px;
  font-weight: 800;
  letter-spacing: 5px;
  color: #f6f6f6;
}

.landing .container .people .ul-list li p {
  margin-right: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fe58a1;
  margin: 0;
  font-weight: 800;
}

.item51 {
  visibility: hidden;
  margin-left: 500px;
}




@media (max-width: 991px) {

  .landing .container .images {
    width: 360px;
    height: 360px;
  }

  .landing .container .people {
    left: 500px;
  }

  .landing .container .images {
    margin-left: 25px;
  }
}

@media (max-width: 765px) {
  .item51 {
    margin-left: 0;
    margin-bottom: 500px;
  }

  .landing .container {
    display: flex;
    justify-content: center;
  }

  .landing .container .images {
    /* bottom: 50%; */
    /* position: relative; */
    top: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 15px;
    /* margin-left: 60px; */
    /* left: 10px; */
  }

  .landing .container .people {
    left: 0;
    top: 50%;
  }

  .landing .container .people .ul-list {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    padding: 0;
  }

  .landing .container .people .ul-list li {
    writing-mode: initial;
    transform: initial;
    height: 80px;
    width: 100%;
    padding: 0;
    padding-left: 30px;
  }

  .landing .container .people .ul-list li p {
    margin-top: 10px;
  }
}

.details {
  position: absolute;
  width: 600px;
  height: 350px;
  bottom: 20px;
  z-index: 10;
  top: auto;
  left: 100px;
  background-color: red;
}

.details div {
  width: 100%;
  height: 100%;
  position: relative;
}

/* End Landing */